*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
 
 body {  
    display: flex;
    flex-direction: column;
    background-color: rgba(219, 228, 229, 0.879);
    min-height: 100vh;
    width: 100%;
}

 header {
    background-color: rgba(83, 194, 194, 0.914);
    padding: 25px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    position: relative;

    margin-bottom: 50px;
 }

 .logo{
    display: flex;
    font-size: 24px;
    flex: 1;
    position: absolute;
    left: 20px;
    top: 5px;
 }

 .c p{
    margin: 0;
    color: #e7eee5;
    font-size: 28px ;
    font-style: italic;
 }

 .o p{
    color: #034f4d;
    font-size: 35px;
    font-style: italic;
    
 }

 .exp p{
    font-size: 25px;
    text-align: center;
    color: #0d6e6e;
    transition: 0.3s;
    margin: 20px 0;
 }

 .exp p:hover{
    transform: scale(1.2);
 } 

 .exp{
    overflow: hidden;
    margin-bottom: 15px;
    padding: 10px;
 }

  h2{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #034f4d;
    font-size: 2rem;
    padding: 20px;
    padding-top: 20px;
 }

 h3{
    text-align: center;
    font-size: 30px;
    color: #02686d;
    padding: 10px;
 }

 nav{
    display: flex;
    justify-content: space-between;
 }

 li{
    list-style: none;
    
 }

 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;

 }

 nav ul{
    margin-top: 0;
    padding-top: 0;
 }

 nav a{
  margin-right: 30px;
  transition: 0.3s;
  display: inline-block;
 }

 nav a:hover {
    transform: scale(1.2);
 }

 a {
    color: white;
    text-decoration: none;
    text-align: center;
 }

 @media (max-width: 768px){
        header{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        padding: 20px 10px;
    }

        li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1px;
        width: 100%;
    }

    nav ul{
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .table{
        display: block;
        overflow-x: auto;
        padding: 10px;
    }

    .c p{
        font-size: 20px;
    }

    .o p{
        font-size: 25px;
    }

    .logo{
        margin-bottom: 20px;
    }

    .p{
        font-size: 14px;
    }

    h2{
        margin-bottom: 5px;
        padding-top: 15px;
    }

    h4{
        font-size: 15px;
    }

    .form{
        margin: 20px auto;
        padding: 10px;
    }

    button{
        margin-top: 5px;
    }

 }

 h4{
    font-size: 25px;
    color: #04625c;
    text-align: center;
    width: 100%;
 }


 table {
    width: 95%;
    min-width: auto;
    margin: 15px auto ;
    border-collapse: collapse ;
    text-align: center ;

 }

 .table{
    width: 95%; 
    padding: 0 15px;
    margin: 15px auto;
 }

 th {
    background-color: rgb(25, 150, 152);
    color: white;
    padding: 12px;
    font-size: 20px;
 }

 td {
    padding: 10px;
    border:none;
    font-size: 20px;
    color: #04554a;

 }

 tr {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd
 }

 .table-cont{
    width: 100%;
    overflow-x: auto;
    margin: 10px 0;
 }
 
 tbody tr:hover {
    background-color:#98ddd3;
}

button{
    color: #f9f9f9;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #48abbe;
    transition: all 0.2s ease;
    margin-bottom: 15px;
    margin-top: 10px;

    width: 100%;
}

button:active {
    background-color: #30bba8;
    transform: scale(1.1);
}

button:hover{
    background-color: #98dddb;
    color: #ffffff;
}

form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    font-size: 35px;
    text-align: center;    
    color: #0b958e;
    border: 2px solid #239cbe;
    border-radius: 10px;
    border-left-width: 10px;
    padding-top: 15px;
    margin-bottom:40px;
padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.course-input{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #0b7b7b;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    margin-top: 0;
    box-sizing: border-box;
}

footer {
width: 100%;
background-color: #1a849b;
color: #f9f9f9;
padding: 20px;
text-align: center;
margin-top: auto;

}



