*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
 
 body {  
    display: flex;
    flex-direction: column;
    background-color: rgba(195, 232, 223, 0.592);
    min-height: 100vh;
    width: 100%;
}

 header {
    background-color: rgba(83, 194, 96, 0.914);
    padding: 25px;
    text-align: center;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    position: relative;

    margin-bottom: 50px;
 }

 .logo{
    display: flex;
    font-size: 24px;
 }

 .c p{
    margin: 0;
    color: #e7eee5;
    font-size: 30px ;
    font-style: italic;
 }

 .o p{
    color: #034f33;
    font-size: 30px;
    font-style: italic;
    
 }

  h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    color: #034f33;
    font-size: 2rem;
 }

 h3{
    text-align: center;
    font-size: 30px;
    color: #035336;
 }

 nav{
    display: flex;
    justify-content: space-between;
 }

 li{
    list-style: none;
    
 }

 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

 }

 nav a{
  margin-right: 30px;
  transition: 0.3s;
  display: inline-block;
 }

 nav a:hover {
    transform: scale(1.2);
 }

 a {
    color: white;
    text-decoration: none;
    text-align: center;
 }

 @media (max-width: 768px){
        header{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        padding: 20px 10px;
    }

        li{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1px;
        width: 100%;
    }

    nav ul{
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .table{
        display: block;
        overflow-x: auto;
        padding: 10px;
    }

    .p{
        font-size: 14px;
    }

 }

 h4{
    font-size: 25px;
    color: #034f33;
    text-align: center;
    width: 100%;
 }


 table {
    width: 95%;
    min-width: auto;
    margin: 15px auto ;
    border-collapse: collapse ;
    text-align: center ;

 }

 .table{
    width: 95%; 
    padding: 0 15px;
    margin: 15px auto;
 }

 th {
    background-color: rgb(25, 152, 85);
    color: white;
    padding: 12px;
    font-size: 20px;
 }

 td {
    padding: 10px;
    border:none;
    font-size: 20px;
    color: #035336;

 }

 tr {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd
 }

 .table-cont{
    width: 100%;
    overflow-x: auto;
    margin: 10px 0;
 }
 
 tbody tr:hover {
    background-color:#98ddb8;
}

button{
    color: #f9f9f9;
    padding: 8px 22px;
    border-radius: 6px;
    font-size: 30px;
    background-color: #5cca72;
    transition: all 0.2s ease;
    margin-bottom: 15px;
    margin-top: 15px;

    width: 100%;
}

button:active {
    background-color: #5cca72;
    transform: scale(1.1);
}

form {
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    font-size: 35px;
    text-align: center;    
    color: #076f49;
    border: 2px solid #3a9e3d;
    border-radius: 10px;
    border-left-width: 10px;
    padding-top: 15px;
    margin-bottom:15px;

    display: flex;
    flex-direction: column;
}

label{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #076f49;
    margin-bottom: 1px;
}

input[type="text"],
input[type="number"],
input[type="email"]{

    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    outline: none;
    margin-top: 0;
    box-sizing: border-box;
}

footer {
width: 100%;
background-color: #51c568;
color: #f9f9f9;
padding: 20px;
text-align: center;
margin-top: auto;

}



